<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head th:replace="fragments :: html_head('none')"></head>

<body>
    <th:block sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
            <input type="submit" value="Logout" />
        </form>
    </th:block>
    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show toast-msg" role="alert">
        <span class="alert-icon"><i class="fa-solid fa-thumbs-up"></i></span>
        <span class="alert-text"><strong style="margin-right: 4px;">Success!</strong>[[${message}]]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="content-wrapper">
        <div th:replace="header :: header"></div>

        <!-- /header -->
        <section class="wrapper bg-gray">
            <div class="container py-12 py-md-16 text-center">
                <div class="row">
                    <div class="col-lg-10 col-xxl-8 mx-auto">
                        <h1 class="display-1 mb-3">Shop Layout</h1>
                        <p class="lead mb-1">Integer posuere erat a ante venenatis dapibus.</p>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->



        <section class="wrapper bg-light">
            <div class="container py-14 py-md-16">
                <div class="row align-items-center mb-10 position-relative zindex-1">
                    <div class="col-md-8 col-lg-9 col-xl-8 col-xxl-7 pe-xl-20">
                        <h2 class="display-6">New Arrivals</h2>
                        <nav class="d-inline-block" aria-label="breadcrumb"
                            th:if="${listCategoryParents != null && !listCategoryParents.empty}">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                                <th:block th:each="parent : ${listCategoryParents}">
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <a th:href="@{'/c/' + ${parent.alias}}">[[${parent.name}]]</a>
                                    </li>
                                </th:block>
                            </ol>
                        </nav>
                        <!-- /nav -->
                    </div>
                    <!--/column -->
                    <div class="col-md-4 col-lg-3 ms-md-auto text-md-end mt-5 mt-md-0">
                        <div class="form-select-wrapper">
                            <select class="form-select">
                                <option value="popularity">Sort by popularity</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="newness">Sort by newness</option>
                                <option value="price: low to high">Sort by price: low to high</option>
                                <option value="price: high to low">Sort by price: high to low</option>
                            </select>
                        </div>
                        <!--/.form-select-wrapper -->
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                <div class="grid projects-masonry shop mb-13">
                    <div class="row">
                        <th:block th:each="product : ${listProducts}">
                            <input type="hidden" name="productID" th:value="${product.id}">
                            <div class="project item c-4" style="margin-top: 4rem;">
                                <figure class="rounded mb-6">
                                    <!-- th:attr="srcset=@{${product.mainImagePath}} + '2x'" -->
                                    <img th:src="@{${product.mainImagePath}}"
                                        th:attr="srcset=|@{${product.mainImagePath}} 2x|"
                                        style="height: 433px !important;" alt="" />
                                    <a class="item-like" href="#" data-bs-toggle="white-tooltip"
                                        title="Add to wishlist"><i class="uil uil-heart"></i></a>
                                    <a class="item-view" th:href="@{'/p/' + ${product.alias}}"
                                        data-bs-toggle="white-tooltip" title="Quick view"><i
                                            class="uil uil-eye"></i></a>
                                    <a  th:href="@{'/p/' + ${product.alias}}" class="item-cart"><i class="uil uil-package"></i> Detail</a>
                                    <span th:if="${product.discountPercent > 0}"
                                        class="avatar bg-pink text-white w-10 h-10 position-absolute text-uppercase fs-13"
                                        style="top: 1rem; left: 1rem;"><span>Sale!</span></span>
                                </figure>
                                <div class="post-header">
                                    <div class="d-flex flex-row align-items-center justify-content-between mb-2">
                                        <div class="post-category text-ash mb-0">[[${product.category.name}]]</div>
                                        <span class="ratings five"></span>
                                    </div>
                                    <h2 class="post-title h3 fs-22" style="height: 61.6px;"><a
                                            th:href="@{'/p/' + ${product.alias}}"
                                            class="link-dark format-title">[[${product.name}]]</a></h2>
                                    <p class="price" th:if="${product.discountPercent <= 0}">
                                        <ins><span style="font-size: 1rem;" class="amount">[[${product.price}]]
                                                VND</span></ins>
                                    </p>
                                    <p class="price" th:if="${product.discountPercent > 0}">
                                        <del><span style="font-size: 1rem;" class="amount">[[${product.price}]]
                                                VND</span></del>
                                        <ins><span style="font-size: 1rem;"
                                                class="amount">[[${product.discountPrice}]]</span></ins>
                                    </p>
                                </div>
                                <!-- /.post-header -->
                            </div>

                        </th:block>

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.grid -->

                <!-- /.pagination -->
                <div th:replace="fragments :: pagination('/c/' + ${category.alias}, 'product')"></div>
                <!-- /nav -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->
        <section class="wrapper bg-gray">
            <div class="container py-12 py-md-14">
                <div class="row gx-lg-8 gx-xl-12 gy-8">
                    <div class="col-md-6 col-lg-4">
                        <div class="d-flex flex-row">
                            <div>
                                <img th:src="@{/assets/img/icons/solid/shipment.svg}"
                                    class="svg-inject icon-svg icon-svg-sm solid-mono text-navy me-4" alt="" />
                            </div>
                            <div>
                                <h4 class="mb-1">Free Shipping</h4>
                                <p class="mb-0">Duis mollis gravida commodo id luctus erat porttitor ligula, eget
                                    lacinia odio sem.</p>
                            </div>
                        </div>
                    </div>
                    <!--/column -->
                    <div class="col-md-6 col-lg-4">
                        <div class="d-flex flex-row">
                            <div>
                                <img th:src="@{/assets/img/icons/solid/push-cart.svg}"
                                    class="svg-inject icon-svg icon-svg-sm solid-mono text-navy me-4" alt="" />
                            </div>
                            <div>
                                <h4 class="mb-1">30 Days Return</h4>
                                <p class="mb-0">Duis mollis gravida commodo id luctus erat porttitor ligula, eget
                                    lacinia odio sem.</p>
                            </div>
                        </div>
                    </div>
                    <!--/column -->
                    <div class="col-md-6 col-lg-4">
                        <div class="d-flex flex-row">
                            <div>
                                <img th:src="@{/assets/img/icons/solid/verify.svg}"
                                    class="svg-inject icon-svg icon-svg-sm solid-mono text-navy me-4" alt="" />
                            </div>
                            <div>
                                <h4 class="mb-1">2-Years Warranty</h4>
                                <p class="mb-0">Duis mollis gravida commodo id luctus erat porttitor ligula, eget
                                    lacinia odio sem.</p>
                            </div>
                        </div>
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->
    </div>
    <!-- Modal -->
    <div class="modal fade modal-bottom-center" id="modalDialog" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body p-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 mb-4 mb-lg-0 my-auto align-items-center">
                            <h4 class="mb-2" id="modalTitle"></h4>
                            <p class="mb-0" id="modalBody"></p>
                        </div>
                        <!--/column -->
                        <div class="col-md-5 col-lg-4 text-lg-end my-auto">
                            <a href="#" class="btn btn-primary rounded-pill" data-bs-dismiss="modal"
                                aria-label="Close">I Understand</a>
                        </div>
                        <!--/column -->
                    </div>
                    <!--/.row -->
                </div>
                <!--/.modal-body -->
            </div>
            <!--/.modal-content -->
        </div>
        <!--/.modal-dialog -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="footer :: footer"></div>
    <script th:src="@{/assets/js/plugins.js}"></script>
    <script th:src="@{/assets/js/theme.js}"></script>
    <script th:src="@{/assets/js/add_to_cart_index.js}"></script>
    <script th:src="@{/assets/js/common_modal.js}"></script>

   
</body>

</html>